/* ------------------------------body------------------------------- */
body {
  margin: 0;
}
.contain {
  background-color: #f6f6f6;
  text-align: center;
  margin: 0;
  width: 100vw;
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
h1 {
  font-weight: bold;
  margin: 0;
}
h2 {
  margin: 0;
}
a {
  text-decoration:none;
  color: #fff;
}
p {
  margin: 0;
}
footer {
  width: 100vw;
  height: 100px;
  color: #fff;
  background-color: #ff8954;
  margin-top: 120px;
}
.footer-text {
  margin-top: 40px;
  font-size: 20px;
}
/* ------------------------------header------------------------------- */
header {
  color: #fff;
  background-color: #ff8954;
  /* height: 68px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding-left: 24px; */
  text-align: center;
  width: 100vw;
  height: 260px;
  padding: 0 240px;
  box-sizing: border-box;
}
.head-icon {
  font-size: 46px;
  margin: 0 auto;
  width: 100%;
  /* font-weight: 700; */
  text-align: left;
}
.navbar {
  display: flex;
  position: absolute;
  right: 3%;
}
.nav-icon {
  margin-left: 34px;
}
.leavepets {
  width: 70vw;
  height: 500px;
  display: inline-block;
  background-image: url(../images/leavepets.png);
  background-size: cover;
  object-fit: cover;
  background-position: center;
  border-radius: 8px;
  border: 4px solid rgb(48, 48, 48);
}
.leavepets:hover {
  box-shadow:0px 0px 6px 6px #b8bbbd;
  transition: all 200ms 0s ease;
}
.h1-tag {
  font-size: 42px;
  margin: 24px 0;
}
.sns-area {
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  width: 80vw;
}
.sns-zone {
  border-radius: 16px;
  width: 27%;
  height: 220px;
  /* background-color: #ff8954;
  border: 4px solid #ff8954; */
  margin: 0 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.sns-zone:hover {
  background-color: #fff;
  /* color: rgb(112, 102, 102); */
  /* color: #ff8954; */
}
.twitter {
  background-color: #54c0ff;
  border: 4px solid #54c0ff;
}
.twitter:hover {
  color:  #54c0ff;
}
.github {
  background-color: #628be2;
  border: 4px solid #628be2;
}
.github:hover {
  color: #628be2;
}
.wantedly {
  background-color: rgb(72, 182, 204);
  border: 4px solid rgb(72, 182, 204);
}
.wantedly:hover {
  color: rgb(72, 182, 204);
}
.mail {
  background-color: rgb(32, 206, 75);
  border: 4px solid rgb(32, 206, 75);
  padding-top: 12px;
  margin: 12px 0;
  width: 20%;
  height: 140px;
}
.mail:hover {
  color: rgb(32, 206, 75);
}
.story {
  width: 85vw;
  margin: 0;
  display: flex;
  padding: 0 48px;
  border-radius: 12px;
  height: 660px;
}
.story2 {
  display: none;
}
.story-head {
  font-size: 24px;
  margin: 12px 0;
}
.story-text {
  font-size: 18px;
  font-weight: 230;
}
.story-content {
  /* border-top: 1px solid rgb(139, 138, 138); */
  width: 100%;
  padding: 24px;
  /* margin: 24px 0; */
  text-align: left;
  box-sizing: border-box;
  border-radius: 12px;
  color: #000;
  background-color: rgb(144, 225, 241);
  margin-top: 22px;
  border: 3px solid #000;
}
.left {
  width: 49%;
}
.first {
  margin-top: 40px;
}
.second {
  margin-top: 80px;
}
.border {
  border: 1px solid #000;
  margin: 0 22px;
}
.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-color: #000 #000 transparent transparent;
  transform: rotate(45deg);
}
.start {
  position: absolute;
  left: 49.2%;
  margin-top: -18px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #000;
}
.end {
  position: absolute;
  left: 49%;
  top: 2830px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #000;
}
.circle1 {
  margin-top: 30px;
  left: 48.9%;
  border-color:  transparent transparent #000 #000;
}
.circle2 {
  margin-top: 70px;
  left: 49.7%;
}
.circle3 {
  margin-top: 356px;
  left: 48.9%;
  border-color:  transparent transparent #000 #000;
}
.circle4 {
  margin-top: 416px;
  left: 49.7%;
}
.right {
  width: 49%;
}
.container2 {
  width: 85vw;
  margin: 0;
  display: flex;
  padding: 0 48px;
  border-radius: 12px;
}
.border2 {
  border: 1px dashed rgb(139, 138, 138);
  height: 120px;
  margin: 0 22px;
}
.future-text {
  font-size: 20px;
  margin: 4px 0;
  font-weight: 280;
}
.no-margin {
  margin: 0 0 22px;
  height: 56px;
}
.no-margin2 {
  margin: 26px 0 8px;
  height: 56px;
}
.container {
  width: 65vw;
  margin-bottom: 40px;
}
.mailer {
  color: #000;
}

@media screen and (max-width:768px) {
header {
  width: 100%;
  padding: 29vw;
}
.intro {
  width: 92vw;
}
.intro h2 {
  font-size: 20px;
}
.sns-area {
  width: 100vw;
}
.sns-zone {
  height: 20vw;
  width: 25vw;
  padding: 2vh 0 ;
  margin: 0 8px;
}
.resp {
  display: none;
}
.mail {
  /* height: 102px; */
  width: 194px;
  padding-top: 6px;
}
.leavepets {
  height: 25vh;
  width: 100%;
  margin-bottom: 24px;
}
.portfolio {
  width: 87vw;
}
.portfolio h2 {
  font-size: 22px;
}
.story {
display: none;
}
.story2 {
  width: 85vw;
  margin: 0;
  display: flex;
  padding: 0 48px;
  border-radius: 12px;
  height: 660px;
  display: flex;
  height: auto;
  flex-direction: column;
}
.story-content {
  margin-top: 12px;
}
.border {
  display: none;
}
.container {
  width: 90vw;
}
.future-text {
  font-size: 17px;
}
.pickup {
  font-size: 20px;
}
}