body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(249, 249, 249)!important;
}

a {
  color: #0bd;
}
.navbar {
  height: 8vh;
}

.container-fluid {
  height: auto;
}
.btn-left {
  margin-right: 6px;
}
.btn-right {
  margin-left: 6px;
}
.btn-primary {
  background-color: #1141a8;
  border: 1px solid #1141a8;
}
.btn-primary:hover {
  background-color: #fff;
  color: #1141a8;
}
.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0;
}
.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 22px;
}
.intro {
  color: #000;
  text-align: left;
  background-color: rgb(255, 255, 255, 0.1);
  /* background: url(../images/fox.jpg) no-repeat center; */
  object-fit: cover;
  padding-left: 10%;
}
.intro-image {
  /* background: url(../images/whitefox.jpg) no-repeat; */
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100%;
}

.about {
  min-height: 92vh;
  background-color: rgb(249, 249, 249);
  padding-top: 5%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about p {
  width: 100%;
  display: inline-block;
  text-align: left;
}
.image-content {
  margin-left: 20%;
}
.text-content {
  margin-left: 3%;
}
.icon {
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow:0px 0px 12px 2px #b0b0b0;
}

.portfolio {
  padding-top: 5%;
  min-height: 92vh;
  background-color: #fff;
  text-align: center;
  color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.image {
  width: 450px;
  height: 250px;
  object-fit: cover;
}

.portfolio p {
  /* width: 50%; */
  display: inline-block;
  text-align: left;
}
.badge-primary {
  background-color: rgb(249, 249, 249);
  border: 1px solid #596b74;
  color: #5578c4;
}

.skills {
  padding-top: 5%;
  min-height: 92vh;
  background-color: rgb(249, 249, 249);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-container {
  width: 550px;
}
.skill-icon {
  height: 60px;
  margin-bottom: 18px;
}
.skill-icon2 {
  height: 60px;
}

.subtext {
  font-family: sans-serif;
  font-size: 12px;
}

.story {
  min-height: 92vh;
  background-color: #fff;
  padding-top: 5%;
  text-align: center;
  font-family: sans-serif;
}

.timeline {
  list-style-type: none;
  position: relative;
}

.timeline:before {
  content: '';
  background: #000;
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 3px;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
}

.timeline > li:before {
  content: ' ';
  background: #949393;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #000;
  left: 1px;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.story-text {
  width: 70%;
  /* margin-bottom: 22px; */
}

.contact {
  padding-top: 5%;
  min-height: 85vh;
  background-color: rgb(249, 249, 249);
  text-align: center;
  color: #000;
}

.sns-area {
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  width: 100%;
}
.sns-zone {
  border-radius: 16px;
  width: 180px;
  height: 120px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin: 12px 12px;
}
.sns-zone:hover {
  background-color: #fff;
  text-decoration: none;
}
.twitter {
  background-color: #54c0ff;
  border: 4px solid #54c0ff;
}
.twitter:hover {
  color:  #54c0ff;
}
.github {
  background-color: #628be2;
  border: 4px solid #628be2;
}
.github:hover {
  color: #628be2;
}
.wantedly {
  background-color: rgb(72, 182, 204);
  border: 4px solid rgb(72, 182, 204);
}
.wantedly:hover {
  color: rgb(72, 182, 204);
}
.mail {
  background-color: rgb(32, 206, 75);
  border: 4px solid rgb(32, 206, 75);
}
.mail:hover {
  color: rgb(32, 206, 75);
}
.fas, .fab {
  margin-bottom: 0;
}

.footer {
  height: 7vh;
  bottom: 10px;
  color: #000;
  margin-bottom: 0;
  text-align: center;background-color: rgb(249, 249, 249);
}

@media screen and (max-width:768px) {
  .none {
    display: none;
  }
  .navbar {
    width: 100vw;
  }
  .lead {
    font-size: 13px;
  }
  .intro {
    /* background: url(../images/fox.jpg) no-repeat center; */
    padding-left: 5%;
  }
  .jumbotron-container {
    margin-left: 0;
  }
  .image-content {
    margin: 0;
  }
  .image-content .lead {
    font-size: 18px;
  }
  .text-content {
    margin-left: 0;
  }
  .icon {
    width: 200px;
    height: 200px;
  }
  .skill-container {
    width: 80vw;
  }
  .sns-area {
    width: 95vw;
    padding: 0;
  }
  .sns-zone {
    width: 30%;
    font-size: 10px;
    height: 84px;
  }
  .image {
    height: 184px;
  }
  .story-text {
    width: 100%;
  }
  .about p {
    width: 95%;
    display: inline-block;
    text-align: left;
  }
  .timeline {
    padding-left: 30px;
  }
}